<!doctype html>
<html lang="en" ng-app="frontpage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Tealure</title>
  <link rel="stylesheet" href="assets/components/pure/pure.css">
  <link rel="stylesheet" href="assets/components/pure/grids-responsive.css">
  <link rel="stylesheet" href="assets/components/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/layout.css">
</head>

<body>
<div class="header" ng-controller="MenuController">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <div class="pure-menu-heading" href="">Tealure</div>

        <ul>
          <li ng-repeat="entry in entries"><a href="{{ entry.link }}">{{ entry.text }}</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">In Ilam, the pristine highlands of Nepal, cultivating tea is an ancient art. We got astounded by the beverage's quality and wanted to share some with you, too.</h1>
      <p>
          <a href="#" class="pure-button pure-button-primary">Discover</a>
          <a href="#" class="pure-button pure-button-primary">Subscribe</a>
      </p>
      <p class="social-media">
        <a href="http://facebook.com/tealure"><i class="fa fa-facebook-square fa-lg"></i></a>
        <a href="http://twitter.com/tealured"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="http://instagram.com/tealure"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="http://pinterest.com/tealure/"><i class="fa fa-pinterest fa-lg"></i></a>
      </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="" ng-controller="ProductsController">

      <ul class="categories is-center pure-menu-open pure-menu-horizontal">
        <li><a>Tea</a></li>
        <li><a>Herbal</a></li>
        <li><a>Accessories</a></li>
      </ul>

      <div class="pure-g l-box">
        <div class="product-container pure-u-1-1 pure-u-lg-1-2">
          <div ng-include='"views/partials/teas.html"'></div>
        </div>
        <div class="product-info is-center pure-u-1-1 pure-u-lg-1-2">
          <div ng-if="isSelected() === false">
            <h3>Discover</h3>
            <p>
              Selected from family-owned small scale plantations, our tea is delivered straight to your home to guarantee utmost quality.
            </p>
            <p>
              Pick a tea from the selection to discover more about it. 
            </p>
          </div>
          <div ng-if="isSelected()"><product-info /></div>
        </div>
      </div>
    </div>

    <div class="ribbon l-box-lg">
        <div>
          <h2 class="content-head content-head-ribbon is-center">Get your subscription</h2>
          <p class="content-subhead is-center">Do you drink tea regularly? Whether occasional or heavy drinker, we've go a subscription for you. And good news, it will save you some bucks!</p>
          <div>
            <h3></h3>
            <p></p>
            <!--input class="pure-button" type="button" value="Subscribe" /-->
          </div>
        </div>
    </div>

    <div class="footer l-box-lg pure-g">
      <div class="pure-u-1-2">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">The team</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="pure-u-1-2">
      </div>
    </div>

</div>

<script src="assets/components/angular/angular.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/controllers.js"></script>
<script src="assets/js/directives.js"></script>
</body>
</html>
